# all values are optional

# if set, vertd will attempt to notify you via a discord webhook when a video fails to convert.
# for help on how to create them, see https://support.discord.com/hc/en-us/articles/228383668-Intro-to-Webhooks
WEBHOOK_URL=your_discord_webhook_here

# webhook pings -- these will be formatted into the main message
WEBHOOK_PINGS="<@&role_id> <@user_id>"

# admin password for kept videos. i will cry in front of you if you tell me this is bad practice.
# make sure to set this to something unique and hard to guess! ideally really really long too
ADMIN_PASSWORD=supersecret

# used for kept video access
PUBLIC_URL=https://vertd.your-domain.here